[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
pandas = "*"
numpy = "*"
category-encoders = "*"
gunicorn = "*"
xgboost = "*"
scikit-learn = "==0.21.2"
joblib = "*"
requests = "*"
psycopg2 = "*"
haversine = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
